# https://docs.docker.com/engine/reference/builder/#dockerignore-file
# The inverse dockerignore file: .dockerinclude

*

!.
!**/*.ts
!**/*.tsx
!**/*.graphql
!**/*.graphqls
!**/*.json
!**/*.css
!**/*.png
!public/**
!yarn.lock

__generated__/**
**/*.generated.ts

.next/**
next-env.d.ts/**
.vercel/**
coverage/**
node_modules/**
