NAME=metabase
ENVIRONMENT=staging
TARGET=02688d18d1753e6473ec3af5f3e0835d936cd604

HOST=buildingenvelopedata.org
SUBDOMAIN=staging
HTTP_PORT=9000
BOOTSTRAP_USER_PASSWORD=
OPEN_ID_CONNECT_CLIENT_SECRET=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DATABASE_NAME=xbase

TESTLAB_SOLAR_FACADES_HOST=staging.solarbuildingenvelopes.com
TESTLAB_SOLAR_FACADES_OPEN_ID_CONNECT_CLIENT_SECRET=

IGSDB_API_TOKEN=
IGSDB_OPEN_ID_CONNECT_CLIENT_SECRET=

OPEN_TELEMETRY_HOST=host.docker.internal
OPEN_TELEMETRY_GRPC_PORT=4317

EMAIL_ADDRESS=christoph.maurer@ise.fraunhofer.de

SMTP_HOST=email
SMTP_PORT=25
RELAY_SMTP_HOST=mta01.mx.fraunhofer.de
RELAY_SMTP_PORT=25
RELAY_ALLOWED_EMAILS=
