NAME=metabase
ENVIRONMENT=development

HOST=local.buildingenvelopedata.org
SUBDOMAIN=www
HTTP_PORT=8000
HTTPS_PORT=7001
BOOTSTRAP_USER_PASSWORD=abcABC123@
OPEN_ID_CONNECT_CLIENT_SECRET=secret

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE_NAME=xbase

TESTLAB_SOLAR_FACADES_HOST=www.local.solarbuildingenvelopes.com
TESTLAB_SOLAR_FACADES_HTTPS_PORT=7501
TESTLAB_SOLAR_FACADES_OPEN_ID_CONNECT_CLIENT_SECRET=secret

IGSDB_API_TOKEN=secret
IGSDB_OPEN_ID_CONNECT_CLIENT_SECRET=secret

OPEN_TELEMETRY_HOST=host.docker.internal
OPEN_TELEMETRY_GRPC_PORT=4017

EMAIL_ADDRESS=christoph.maurer@ise.fraunhofer.de

SMTP_HOST=email
SMTP_PORT=25
