/examples/*.json
/secrets
/ssl
/machine/*.retry
/nginx/html/maintenance.html
/commit
/backup.gz
/tags*

.env

# Compiled output
dist
node_modules

# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# Tests
coverage
.nyc_output

# Backups
*.bak
/backup

# Structurizr diagrams
/diagrams/structurizr/.structurizr/
/diagrams/structurizr/*.json
