/Makefile
/docker-compose.yaml
*/Dockerfile
/examples/*.json
/secrets
/ssl
/machine/*.retry
/nginx/html/maintenance.html
/tags*
/commit

.env

# Compiled output
dist
node_modules

# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# Tests
coverage
.nyc_output

# Backups
*.bak
/backup
/backups

# Structurizr diagrams
/diagrams/structurizr/.structurizr/
/diagrams/structurizr/*.json
