# https://docs.docker.com/engine/reference/builder/#dockerignore-file
# The inverse dockerignore file: .dockerinclude

*

!.
!**/*.cs
!**/*.cshtml
!**/*.csproj
!*.sln
!*.props
!**/*.graphql
!**/*.json

src/bin/**
src/obj/**
src/bin\\Debug/**
src/obj\\Debug/**
