<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/measurement-methods">Measurement Methods</a>
    </nav>
    <aside>
      {% block sidebar %}
      {% endblock %}
    </aside>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
